### Pair programming - Lecc 14 - Python-SQL 2 - 25/11/2022

Objetivos

📌 NOTA Cambiad el nombre de la BBDD a mi_primerita_BBDD_Python

📌 NOTA Cuando creeis las distintas tablas de vuestra BBDD repetereis la mismas lineas de código una y otra 
vez. Para evitar esto, crearos una función que nos sirva para crear tablas independientemente del contenido de la tabla. La función recibirá como parámetros:

- Contraseña de la conexión al servidor.
- Query para crear la tabla.

In [1]:
# Creamos la base de datos donde realizar los ejercicios, si no existiera
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE mi_primerita_BBDD_Python")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor: CREATE DATABASE mi_primerita_BBDD_Python

📌 NOTA Cuando creeis las distintas tablas de vuestra BBDD repetereis la mismas lineas de código una y otra 
vez. Para evitar esto, crearos una función que nos sirva para crear tablas independientemente del contenido de la tabla. La función recibirá como parámetros:

- Contraseña de la conexión al servidor.
- Query para crear la tabla.

In [37]:
# Creamos una función que crea tablas, la cual aplicaremos para crear las cuatro tablas solicitadas
def crear_tablas (query, password='AlumnaAdalab'):
    
    # Establecemos la conexión
    import mysql.connector

    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='mi_primerita_BBDD_Python')

    mycursor= cnx.cursor()

   # Ejecutamos la query
    try:
        mycursor.execute(query)
        print ("La tabla ya está creada")
        return mycursor
        

    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [32]:
# Creamos una variables con la query zapatillas

query_zapatillas = """ CREATE TABLE Zapatillas (
id_zapatilla INT AUTO_INCREMENT NOT NULL PRIMARY KEY,
modelo VARCHAR (45) NOT NULL,
color VARCHAR (45) NOT NULL,
talla INT NOT NULL)"""

In [34]:
# Creamos una variables con la query clientes

query_clientes = """CREATE TABLE Clientes (
id_cliente INT AUTO_INCREMENT NOT NULL PRIMARY KEY,
nombre VARCHAR (45) NOT NULL ,
numero_telefono INT (9) NOT NULL,
email VARCHAR (45) NOT NULL, 
direccion VARCHAR (45) NOT NULL ,
ciudad VARCHAR (45), 
provincia VARCHAR (45) NOT NULL,
pais VARCHAR (45) NOT NULL,
codigo_postal VARCHAR (45) NOT NULL )"""

In [38]:
# Creamos una variables con la query empleados

query_empleados = """CREATE TABLE Empleados (
id_empleado INT AUTO_INCREMENT NOT NULL PRIMARY KEY,
nombre VARCHAR (45) NOT NULL ,
tienda VARCHAR (45) NOT NULL,
salario INT NULL,
fecha_incorporacion DATE  NOT NULL )"""

In [40]:
# Creamos una variables con la query facturas

query_facturas = """CREATE TABLE Facturas (
      id_factura INT AUTO_INCREMENT NOT NULL,
      numero_factura VARCHAR (45) NOT NULL ,
      fecha DATE NOT NULL,
      id_zapatilla INT NOT NULL,
      id_empleado INT NOT NULL,
      id_cliente INT NOT NULL,
      
        PRIMARY KEY (id_factura),
        
        CONSTRAINT fk_facturas_Zapatillas
        foreign key (id_zapatilla)
        REFERENCES Zapatillas (id_zapatilla),
        CONSTRAINT fk_facturas_Empleado
        foreign key (id_empleado)
        REFERENCES Empleados (id_empleado),
        CONSTRAINT fk_facturas_Clientes
        foreign key (id_cliente)
        REFERENCES Clientes (id_cliente)
 )"""

In [41]:
crear_tablas (query_facturas)

La tabla ya está creada