## Ejercicios pair programming 24 noviembre: SQL - Python 1

Ejercicio1:

Antes de empezar a trabajar con la BBDD de Northwind, conozcamos un poco las BBDD que tenemos en nuestro servidor. ¿Qué BBDD tenemos en nuestro servidor?

In [25]:
#Conectamos con nuestra base de datos y comprobamos que todo esta correcto
import mysql.connector

from mysql.connector import errorcode

# En este código estamos haciendo un try except por si nos diera fallo saber donde
try:
  cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='tienda')

except mysql.connector.Error as err:

  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  
  else:
    print(err)
else:
  cnx.close()

In [26]:
# conectamos con la BBDD
mydb = mysql.connector.connect(
                  user='root', password='AlumnaAdalab',
                  host='127.0.0.1',
                  database='northwind')
# iniciamos el cursor
mycursor = mydb.cursor()

# ejecutamos nuestra query para que nos muestre las BBDD que tenemos en nuestro servidor
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

mydb.close()

('information_schema',)
('leccion-1-sql',)
('leccion-10-sql',)
('leccion-11-sql',)
('leccion-12-sql',)
('leccion-13-sql',)
('leccion-14-sql',)
('leccion-2-sql',)
('leccion-3-sql',)
('leccion-4-sql',)
('leccion-5-sql',)
('leccion-6-sql',)
('leccion-7-sql',)
('leccion-8-sql',)
('leccion-9-sql',)
('mysql',)
('northwind',)
('performance_schema',)
('proyecto1',)
('sakila',)
('sys',)
('tienda',)
('tienda_zapatillas',)
('world',)

Ejercicio2: Empezemos a explorar la BBDD de Northwind. 

 ¿Qué tablas componen la BBDD? Recuerda que primero nos tendremos 
que conectar con la BBDD sobre la que queremos trabajar. 
Guarda el resultado de los nombres de la tablas en una lista.

In [27]:

#Conectamos con la BBDD

mydb = mysql.connector.connect(
              user='root', password='AlumnaAdalab',
              host='127.0.0.1',
              database='northwind'
)

# creamos el cursor
mycursor = mydb.cursor()

# ejecutamos la query para ver las tablas de la BBDD que hemos indicado en la conexión
mycursor.execute("SHOW TABLES")

mis_tablas= []
for x in mycursor:
  mis_tablas.append(x)
  
print(mis_tablas)

mycursor.close()
mydb.close()

[('categories',), ('customer_customer_demo',), ('customer_demographics',), ('customers',), ('employee_territories',), ('employees',), ('order_details',), ('orders',), ('products',), ('region',), ('shippers',), ('suppliers',), ('territories',)]

In [28]:
mis_tablas

[('categories',),
 ('customer_customer_demo',),
 ('customer_demographics',),
 ('customers',),
 ('employee_territories',),
 ('employees',),
 ('order_details',),
 ('orders',),
 ('products',),
 ('region',),
 ('shippers',),
 ('suppliers',),
 ('territories',)]

Ejercicio3:
 
Qué columnas tiene cada una de las tablas? Para esto tendréis que hacer un for loop para que nos saque el resultado de todas las columnas.

In [30]:
mydb = mysql.connector.connect(
              user='root', password='AlumnaAdalab',
              host='127.0.0.1',
              database='northwind'
)
mycursor = mydb.cursor()

# ejecutamos la query para ver las tablas de la BBDD que hemos indicado en la conexión
mycursor.execute("SHOW TABLES")

mis_tablas= []
for x in mycursor:
  mis_tablas.append(x)





mis_columnas= []
for tabla in mis_tablas:
    for i in tabla:
        mis_columnas.append(i)

        print(mis_columnas)

['categories']
['categories', 'customer_customer_demo']
['categories', 'customer_customer_demo', 'customer_demographics']
['categories', 'customer_customer_demo', 'customer_demographics', 'customers']
['categories', 'customer_customer_demo', 'customer_demographics', 'customers', 'employee_territories']
['categories', 'customer_customer_demo', 'customer_demographics', 'customers', 'employee_territories', 'employees']
['categories', 'customer_customer_demo', 'customer_demographics', 'customers', 'employee_territories', 'employees', 'order_details']
['categories', 'customer_customer_demo', 'customer_demographics', 'customers', 'employee_territories', 'employees', 'order_details', 'orders']
['categories', 'customer_customer_demo', 'customer_demographics', 'customers', 'employee_territories', 'employees', 'order_details', 'orders', 'products']
['categories', 'customer_customer_demo', 'customer_demographics', 'customers', 'employee_territories', 'employees', 'order_details', 'orders', 'products', 'region']
['categories', 'customer_customer_demo', 'customer_demographics', 'customers', 'employee_territories', 'employees', 'order_details', 'orders', 'products', 'region', 'shippers']
['categories', 'customer_customer_demo', 'customer_demographics', 'customers', 'employee_territories', 'employees', 'order_details', 'orders', 'products', 'region', 'shippers', 'suppliers']
['categories', 'customer_customer_demo', 'customer_demographics', 'customers', 'employee_territories', 'employees', 'order_details', 'orders', 'products', 'region', 'shippers', 'suppliers', 'territories']

Ejercicio4:

4.1: Extraed el primer pedido donde se ha gastado más. Devolved el id del pedido y la cantidad gastada.

In [5]:
# importamos pandas
import pandas as pd

# hacemos la conexión con el servidor
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')

# iniciamos el cursor
mycursor = cnx.cursor()

# ejecutamos nuestra query
mycursor.execute("""SELECT order_id, (unit_price*quantity) AS CantidadGastada FROM order_details
                ORDER BY (unit_price*quantity) DESC;""")

# le decimos que nos devuelva el primer resultado y los almacenamos en 
# una variable llamada myresult
myresult = mycursor.fetchall()

#Creamos un dataframe con los resultados de la consulta SQL almacenados en myresult. 
df = pd.DataFrame(myresult, columns = ['order_id', 'CantidadGastada'])


#Cerramos la conexion
cnx.close()

In [6]:
df.head(1)

   order_id  CantidadGastada
0     10865          15810.0

4.2: Devuelve la misma query que en el anterior ejercicio, pero en este caso devuelve todos los resultados

In [7]:
# importamos pandas
import pandas as pd

# hacemos la conexión con el servidor
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')

# iniciamos el cursor
mycursor = cnx.cursor()

# ejecutamos nuestra query
mycursor.execute("""SELECT order_id, (unit_price*quantity) AS CantidadGastada FROM order_details
                ORDER BY (unit_price*quantity) DESC;""")

# le decimos que nos devuelva el primer resultado y los almacenamos en 
# una variable llamada myresult
myresult = mycursor.fetchall()

#Creamos un dataframe con los resultados de la consulta SQL almacenados en myresult. 
df = pd.DataFrame(myresult, columns = ['order_id', 'CantidadGastada'])


#Cerramos la conexion
cnx.close()

In [8]:
#comprobamos cuantas filas tiene nuestro resultado
len(myresult)

2155

In [9]:
df.head(2155)

      order_id  CantidadGastada
0        10865          15810.0
1        10981          15810.0
2        10353          10540.0
3        10417          10540.0
4        10889          10540.0
...        ...              ...
2150     10782             12.5
2151     10850             10.0
2152     10420              9.6
2153     10281              7.3
2154     10462              4.8

[2155 rows x 2 columns]

4.3: Extraed el números de pedidos que se hayan hecho por dia. Devuelve los resultados en una dataframe.

In [10]:
# importamos pandas
import pandas as pd

# hacemos la conexión con el servidor
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')

# iniciamos el cursor
mycursor = cnx.cursor()

# ejecutamos nuestra query
mycursor.execute("""SELECT COUNT(order_id), DAY(order_date) FROM orders
                    GROUP BY DAY(order_date)
                    ORDER BY DAY(order_date);""")

# le decimos que nos devuelva todo el resultado y los almacenamos en 
# una variable llamada myresult
myresult = mycursor.fetchall()

#Creamos un dataframe con los resultados de la consulta SQL almacenados en myresult. 
df = pd.DataFrame(myresult, columns = ['NumeroPedidos', 'Dia'])


#Cerramos la conexion
cnx.close()

In [12]:
len(myresult)

31

In [13]:
df.head(31)

    NumeroPedidos  Dia
0              26    1
1              27    2
2              30    3
3              27    4
4              31    5
5              33    6
6              22    7
7              21    8
8              31    9
9              28   10
10             27   11
11             28   12
12             25   13
13             25   14
14             22   15
15             32   16
16             29   17
17             26   18
18             29   19
19             27   20
20             22   21
21             26   22
22             30   23
23             30   24
24             26   25
25             30   26
26             32   27
27             22   28
28             23   29
29             29   30
30             14   31

4.4: Extraer los pedidos hechos por "Nancy Daviolo". Tendréis que hacer una subquery.

In [14]:
# importamos pandas
import pandas as pd

# hacemos la conexión con el servidor
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')

# iniciamos el cursor
mycursor = cnx.cursor()

# ejecutamos nuestra query
mycursor.execute("""SELECT order_id  FROM orders
                WHERE employee_id IN (			
				SELECT employee_id
				FROM employees
				WHERE first_name = "Nancy" AND last_name = "Davolio");""")

# le decimos que nos devuelva el primer resultado y los almacenamos en 
# una variable llamada myresult
myresult = mycursor.fetchall()

#Creamos un dataframe con los resultados de la consulta SQL almacenados en myresult. 
df = pd.DataFrame(myresult, columns = ['NumeroPedidoDeNancyDaviolo'])


#Cerramos la conexion
cnx.close()

In [15]:
len(df)

123

In [16]:
df.head(123)

     NumeroPedidoDeNancyDaviolo
0                         10258
1                         10270
2                         10275
3                         10285
4                         10292
..                          ...
118                       11064
119                       11067
120                       11069
121                       11071
122                       11077

[123 rows x 1 columns]

Ejercicio 5: Para finalizar el ejercicio, desconectad la conexión con el servidor.

In [39]:
cnx.close()